<div class="banner mx-auto" style="background-image: url('<%= image_path 'banner-2.png' %>')">
</div>

<div class="container">
  <div class="title">
    <h1>Prime Suggestions:</h1>
  </div>
  <div class="cards mt-3">
    <% @cars.each do |car| %>
      <div class="card-trip">
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= car.model %></h2>
          </div>
          <h2 class="card-trip-pricing">$<%= car.price %>/day</h2>
          <%= link_to "Details", car_path(car), class: "card-button" %>
          <%= cl_image_tag car.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>
