<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502161254066-6c74afbf07aa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80); background-repeat: no-repeat;">
  <div class="container">
    <h1>Prime brings the best luxury cars for you!</h1>
  </div>
</div>

<div class="container">
  <div class="cards mt-5">
    <% @cars.each do |car| %>
      <div class="card-trip" style="border-radius: 8px;">
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos" style="background-color: black;
    color: rgb(255,250,250);">
          <div>
            <h2><%= car.model %></h2>
          </div>
          <h2 class="card-trip-pricing">$<%= car.price %>/day</h2>
          <strong><%= link_to "Details", car_path(car), class: "card-button" %></strong>
          <%= cl_image_tag car.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>
