<div class="container mt-3" style="position: relative; left:93px;">
  <%= form_tag cars_path, method: :get do %>
  <div class="d-flex" style="width:86vw;">
    <%= text_field_tag :query,
        params[:query],
        class: "form-control w-75",
        placeholder: "Find a car",
        style:"height:47px;"
    %>
    <%= submit_tag "Search", class: "nav-button mb-4"%>
  </div>
    <% end %>
</div>

<div class="banner mx-auto" style="background-image: url('<%= image_path 'bannerprime.png' %>')">
</div>

<div class="container">
  <div class="title">
    <h1>Prime Suggestions:</h1>
  </div>
  <div class="cards mt-5">
    <% @cars.each do |car| %>
      <div class="card-trip" style="border-radius: 8px;">
        <%= cl_image_tag car.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-trip-infos" style="background-color: black;
    color: rgb(255,250,250);">
          <div>
            <h2><%= car.model %></h2>
          </div>
          <h2 class="card-trip-pricing">$<%= car.price %>/day</h2>
          <strong><%= link_to "Details", car_path(car), class: "new-button mb-2" %></strong>
          <%= cl_image_tag car.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill %>
        </div>
      </div>
    <% end %>
  </div>
</div>
