<h1><%= @car.model %></h1>
<h2><%= @car.price%>/hour</h2>
<h2><%= @car.fuel %></h2>
<h2><%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %></h2>
<h2><%= @car.consumption %></h2>
<h2><%= @car.seats %></h2>
<h2><%= @car.doors %></h2>
<h2><%= @car.description %></h2>
<h2><%= @car.address %></h2>


<%= link_to "Delete #{@car.model}",
            car_path(@car),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
