<h1><%= @car.model %></h1>
<<<<<<< HEAD
<h2><%= @car.price%>/hour</h2>
=======
<h2><%= @car.price%>/hour</h2>
>>>>>>> master
<h2><%= @car.fuel %></h2>
<h2><%= @car.consumption %></h2>
<h2><%= @car.seats %></h2>
<h2><%= @car.doors %></h2>
<h2><%= @car.description %></h2>
<h2><%= @car.address %></h2>
